.body {
  margin-left: 250px;
}

.back-contato-input-textarea textarea {
  font-size: 14px;
  width: 100%;
  padding: 3px 8px;
  border: solid 1px rgb(198, 198, 198);
  border-radius: 5px !important;
}

.back-contato-input-textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.back-contato-input-textarea .nota {
  font-size: 11px;
  color: rgb(85, 85, 85);
}

.ContatoInput {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  padding-left: 30px;
}

.ContatoInput-title {
  text-align: center;
  color: #013e5a;
  font-weight: 500;
  font-size: 30px;
  margin: 60px 0px 40px 0px;
}

.ContatoInput-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 200px;
  width: 60%;
}

.input input {
  font-size: 14px;
  width: 100%;
  color: grey;
  padding: 3px 8px;
  border: solid 1px rgb(198, 198, 198);
  border-radius: 5px !important;
}

.input input:valid {
  color: black;
}

.input-block {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.label-uppercase {
  text-transform: uppercase;
}

.input-section-label {
  color: #013e5a;
  font-size: 16px;
  width: 100%;
  margin: 10px 0px 10px 0px;
  font-weight: 500;
}

.input-section-label-subtitle {
  color: #1AA3DB;
  font-size: 20px;
  width: 100%;
  margin: 25px 0px 10px 0px;
  font-weight: 500;
}

.ContatoInput-section-button {
  display: flex;
  justify-content: center;
  margin: 0px 0px 50px 0px;
}

.ContatoInput-editor {
  background-color: #fff;
  border: solid 1px rgb(198, 198, 198);
  border-radius: 5px !important;
  position: relative;
  height: 250px;
  width: 100%;
}

@media (max-width: 768px) {
  .ContatoInput {
    padding-left: 0px;
  }
  .ContatoInput-title {
    margin: 60px 0px 20px 0px;
  }
}
