.loja-save {
  margin: 0px;
}

.main-quadro {
  margin: 0px;
  align-items: center;
}

.main-quadro-title {
  color: #1aa3db;
  font-size: 20px;
  width: 69%;
  margin: 0px 0px 0px 0px;
  font-weight: 500;
}

.extra-padding-bottom {
  padding-bottom: 40px;
}